@font-face {
  font-display: swap;
  font-family: 'TTLakes reg';
  src: local('TT Lakes Regular'),
        url('../fonts/TTLakes-Regular.woff') format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-display: swap;
  font-family: 'TTLakes bol';
  src: local('TT Lakes Bold'),
        url('../fonts/TTLakes-Bold.woff') format("woff");
  font-style: normal;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1160px;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  body {
    max-width: 768px;
  }
}

@media (max-width: 320px) {
  body {
    max-width: 320px;
  }
}

.slider__servise {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 32px;
  padding-top: 15px;
}

.slider__servise__header-title {
  font-family: 'TTLakes reg';
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
}

.slider__servise__brand-link {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  width: 1128px;
  height: 188px;
}

@media (max-width: 768px) {
  .slider__servise__brand-link {
    width: 768px;
    height: 188px;
  }
}

@media (max-width: 320px) {
  .slider__servise__brand-link {
    display: block;
    width: 1190px;
    height: 188px;
    display: flex;
    flex-wrap: nowrap;
  }
}

.slider__servise__brand-item {
  margin-bottom: 16px;
  margin-right: 24px;
  width: 224px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border: solid 1px #EAEAEA;
  background-color: #fff;
  border-radius: 6px;
}

.slider__servise__brand-item-link {
  width: 224px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button__item {
  width: 40px;
  height: 40px;
  border: solid 2px #FF3E79;
  border-radius: 20px;
  background-color: #fff;
}

.button__item__icon {
  display: block;
  width: 7.5px;
  height: 12px;
  transform: translate(190%, 0%);
  background-image: url("../img/dropdown.svg");
  background-size: cover;
}

@media (max-width: 768px) {
  .button__item__icon {
    transform: translate(190%, 0%);
  }
}

.open-slider {
  border: none;
  background-color: inherit;
  font-family: 'TTLakes reg';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 16px;
  margin-bottom: 16px;
  position: relative;
  top: 24px;
}

.open-slider::before {
  content: '';
  display: block;
  width: 7.5px;
  height: 10px;
  transform: translate(-108%, 0%);
  background-image: url("../img/icon.svg");
  background-size: cover;
}

@media (max-width: 320px) {
  .open-slider {
    visibility: hidden;
  }
  .open-slider::before {
    visibility: hidden;
  }
}
.rotated {
  transform: rotate(90deg);
}
.swiper-container {
  width: 100%;
  height: 100%;
}
@media (max-width: 320px) {
  .swiper-container {
    display: block;
  }
}
@media (max-width: 320px) {
  .swiper-container .swiper-slide {
    width: 1200%!important;
  }
}

.swiper-slide img {
  object-fit: cover; 
}

.swiper-button-next,
.swiper-button-prev {
  color: white; 
  font-size: 24px; 
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet-active {
  background-color: white; 
}


.swiper-button-next,
.swiper-button-prev {
  display: block;
}
